@import url(./layout_base.css);
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 공통 부분 */
body { font-family: 'Cafe24SsurroundAir'; font-size: 16px; height: 100%; color: #444; white-space: normal; word-wrap: break-word; line-height: 1; }
* { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal; font-size: inherit;
}

ul, ol, li { list-style: none; }

a { text-decoration: none; }
a:link {color: #fff; }
a:visited {color: #fff; }



.clear::after { content: ""; display: block; clear: both; }

img, a, fieldset { border: none; }

.hdd, legend {
    font-size: 0; width: 0; height: 0; line-height: 0; text-indent: -9999px; overflow: hidden; visibility: hidden; position: absolute; top: 0; left: 0;
}
.box_inner { width: 1050px; margin: 0 auto; }


/* 웹 접근성을 위한 skipnavi
https://nuli.navercorp.com/commnuity/articl/1132804 */
.skipnavi {
    position: absolute;
    left: 0; top: -50px; text-indent: -9999px; font-size: 0; width: 100%;
    z-index: 999;
}
.skipnavi > li > a:focus, .skipnavi > li > a:active {
    position: absolute;
    left: 0; top: 50px; display: block; width: 100%; padding: 5px; text-align: center; text-indent: 0px; font-size: 12px; font-weight: bold;
    background-color: #f2f2f2;
}

/* index.html */
header { height: 800px; background: url(../images/57b9f708-bb12-498c-bc33-769f8fc43e63.webp) no-repeat bottom; background-size:cover }
header .top_banner { height: 50px; text-align: center; font-size: 14px; line-height: 50px; background-color: #343434; color: #fff; }
ss
header .header_area{ position: absolute; width: 1050px;}
header .header_area .logo h1 { float: left; box-sizing: border-box;padding-top: 15px;}
header .header_area .logo h1 a {position: relative; display: block;width: 100px;height: 60px; text-indent: -9999px; overflow: hidden; background: url(../images/Airbnb_Logo_Bélo.png) no-repeat;background-size: contain; z-index: 100; top: 10px; left: 100px;}

.header_area .gnb {text-align: center; padding-top: 30px; font-size: 17px; }
.header_area .gnb li { display: inline; padding-right: 20px; }
.header_area .gnb li:last-child{ padding-right: 0; }
.header_area .gnb li a:hover {color:#333131d5; }

.header_area .util {position: absolute; top: 70px;right: 150px; font-size: 15px; color: #fff; }
.header_area .util li {float: left;padding-right: 10px;padding-top: 15px; padding-bottom: 15px;padding-left: 10px;}

.header_area .util li:hover:first-child {  border-radius: 30px; background-color: rgba(255, 255, 255, 0.3); }
.header_area .util li:hover:last-child {border-radius: 50%; background-color: rgba(255, 255, 255, 0.3); }

.header_area .login_box {display: block; position: absolute; top: 70px;right: 50px; width: 80px;height: 40px; border: 1px solid #fff;border-radius: 30px;background-color: #fff; }
.header_area .login_box .menu_bar span {position: relative;top: 13px;left: 12px; display: block;  width: 15px; height: 2px; margin-bottom: 3px; border-radius: 10px; background-color: #333131d5; }
.header_area .login_box .menu_bar span:last-child{ margin-bottom: 0;}
.header_area .login_box .menu_bar img {position: relative;left: 44px; bottom: 10px; width: 30px; }

.sitebar {position: relative; width: 850px;height: 67px;  border-radius: 50px; margin-top: 10px; background-color: #fff;box-sizing: border-box; text-align: center;margin: 0 auto; }
.sitebar ul {float: left; text-align: left;box-sizing: border-box; margin: 0 auto; }
.sitebar ul li {position: absolute; float: left;  font-size: 12px;font-weight: bold;  width: 200px; height: 32px; box-sizing: border-box; }
.sitebar ul li::after { position: relative; content: "|"; font-size: 40px;font-weight: lighter; color: #ccc; bottom: 20px;right: 10px;bottom: 10px;}
.sitebar ul li:first-child::after { content: "";}
.sitebar ul li a{position:relative; top:15px; color: #000; left: 25px; top: 20px;}
.sitebar ul li:first-child a { left: 30px; }

.sitebar ul li p{position: relative; color: rgb(182, 179, 179); font-weight: lighter;font-size: 14px; padding-left: 25px;top: 25px;}
.sitebar ul li:first-child p { padding-left: 30px;}
.sitebar ul li:nth-child(1) {width: 250px; }
.sitebar ul li:nth-child(2) {width: 200px;left: 250px; }
.sitebar ul li:nth-child(3) {width: 200px;left: 450px; }
.sitebar ul li:nth-child(4) {width: 200px;left: 650px; }

.sitebar ul li:nth-child(1):hover{ width: 260px;height: 67px; background-color: #ccc; border-radius: 50px; }
.sitebar ul li:nth-child(2):hover{ width: 220px;height: 67px; background-color: #ccc; border-radius: 50px;}
.sitebar ul li:nth-child(3):hover{ width: 200px;height: 67px; background-color: #ccc; border-radius: 50px; }
.sitebar ul li:nth-child(4):hover{ width: 200px;height: 67px; background-color: #ccc; border-radius: 50px; }

.sitebar ul li img {position: absolute; left: 110px;line-height: 50px; top: -5px; width: 50px;}

.finder { position: relative; top: 300px;text-align: center;}
.finder p {position: relative; font-size: 18px; letter-spacing: -1px;font-weight: 500;left: 20px;}
.finder p+p {width: 100px; position: relative; font-size: 20px;  text-align: center; top: 40px;padding: 20px 40px; border-radius: 35px; background-color: #fff; left: 45%; text-shadow: #ccc 10px; box-shadow:1px 4px 7px #ccc ;}
.finder .click:hover { box-shadow: 1px 4px 12px #ccc;}
.finder p+p a{background:linear-gradient(to right,rgb(151, 30, 145),rgb(84, 26, 107)); background-clip: text;-webkit-background-clip: text; -webkit-text-fill-color: transparent; }

.container {padding: 0 5%;}
.container h2 { position: relative; font-size: 35px; top: 30px; font-weight: 500;}
.container .near_list li { position: relative;  width: 24%; height:65px; top: 50px; float: left; margin-right: 10px;margin-bottom: 20px; }
.container .near_list div img { width: 65px; border-radius: 10px; }
.container .near_list div p {position: relative; left: 90px; color: #000;bottom: 55px; }
.container .near_list div p+p {position: relative;font-size: 15px; font-weight: 350; margin-top: 4px; } 

.container .anywhere { position: relative; top: 60px;}
.container .anywhere .any_content li { position: relative; box-sizing: border-box; width: 25%; float: left; padding-left: 20px; top: 55px; left: -20px; }
.container .anywhere .any_content li img { width: 100%; border-radius: 10px; }
.container .anywhere .any_content li p {color: #000; font-size: 17px; font-weight: 500; margin-top: 5px;}

.container .host {height: 480px; position: relative; background: url(../images/2595054e-d1d9-4fde-8046-58d51fcb3164.jpg) no-repeat; top: 180px; background-size: cover; border-radius: 17px; }

.container .host h2 { color: #fff; }
.container .host h2 { position: relative; top: 140px; left: 80px; font-size: 50px; }
.container .host .txt { position: relative; top: 150px;left: 80px; font-size: 18px;}
.container .host .btn_host { position: relative; top: 180px;left: 80px; width: 150px;height: 45px; line-height: 50px;text-align: center; border: 1px solid #fff; border-radius: 10px; background-color: #fff;}
.container .host .btn_host p { color: #000; font-weight: 500; }

.container .entertain_area { position: relative; top: 240px;}
.container .entertain_area h2 { font-size: 30px; font-weight: bold; } 
.container .entertain_area ul li {box-sizing: border-box; position: relative; width: 33.3%; padding-right: 15px; float: left; top: 60px;}
.container .entertain_area ul li img { width: 100%; border-radius: 10px; }
.container .enter_content p { position: relative; top: 3px;font-size: 19px; color: #000; }
.container .enter_content span { position: relative; top: 5px;font-size: 14px;font-weight: 350; color: #000; }
.container .enter_content .chu { position:absolute;bottom: 450px; left: 20px; width: 30px;height: 20px; line-height: 15px; background-color: #fff;text-align: center; border-radius: 3px; }
.container .enter_content .chu p { font-size: 11px; font-weight: bold; }

footer { padding:45px 5% ; position: relative ; background-color: rgb(250, 246, 246); top: 380px; height: 490px; }
.foot_area { height: 470px; border-bottom: 1px solid #ccc;}
footer .foot_area ul { width: 25%; float: left; }
footer .foot_area ul li { padding-bottom: 20px; font-size: 12px;font-weight: bold;}
footer .foot_area ul li a { color: #000; font-weight: 350;font-size: 13px; } 
footer .foot_area ul li a:hover {text-decoration: underline; }

footer .copyright {padding-top: 22px; }
footer .copyright ul li { float: left; padding-right: 4px; font-size: 14px;}
footer .copyright ul li::after {content: "·";padding: 0 8px;}
footer .copyright ul li:last-child::after{padding-right: 0;content: ""; }
footer .copyright ul li a { color: #000; vertical-align: middle;}

footer .detail {position: relative;display: block; }
footer .detail ul li {float: left;}
footer .detail ul li a { color: #000; vertical-align: middle; font-size: 14px; }
footer .detail ul li .lan {bottom: 6px; }
footer .detail ul li a+a {position: relative; color: #000; text-decoration: underline;left: 60px; font-size: 14px;}
footer .detail .detail_1 li+li{ position: relative;left: 40px;}
footer .detail .detail_1 li+li a{ position: relative;left: 70px; font-size: 16px;} 
footer .detail .detail_1 li+li .won{ position: relative; left: 60px;}

footer .detail ul li img {position: relative; width: 20px; bottom: 5px;left: 50px; }
footer .detail .detail_1 {position: absolute; right: 30%;}


footer .detail .sns{position: absolute; right: 50px; }

footer .detail .sns li { padding-left: 20px; }
